[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = {extras = ["avro"], version = "==2.7.0"}
structlog = "==24.4.0"
fastavro = "==1.10.0"
pydantic = "==2.10.4"
pydantic-settings = "==2.7.0"
pyyaml = "==6.0.2"
dataclasses-avroschema = {extras = ["pydantic"], version = "==0.65.7"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
