[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0.2"
fastavro = "==1.10.0"
pydantic = "==2.10.4"
pydantic-settings = "==2.7.0"
confluent-kafka = {extras = ["avro"], version = "==2.6.1"}
structlog = "==24.4.0"
python-dotenv = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
